[Desktop Entry]
Name=Cursor
Comment=Cursor Editor
Exec=~/Applications/cursor/cursor.AppImage --no-sandbox
Terminal=false
Type=Application
Categories=Utility;Development;
Icon=/usr/share/icons/hicolor/256x256/apps/cursor.png
